<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <input type="datetime-local" id="datetime-push">
    <input id="todo-push">
    <button onClick="postValue()">add</button>
    <script>
        console.log('anoko')
        async function postValue() {
            const data = {
                todo: document.getElementById('todo-push').value,
                datetime: document.getElementById('datetime-push').value
            }
            const response = await fetch("/post", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });
            if(response.ok) {
                const res = await response.json();
                console.log(res);
            } else {
                console.error("Error: " + response.status)
            }
        }
    </script>
</body>
</html>